@use "../../../assets/styles/colors";
@use "../../../assets/styles/extends" as *;

$item-padding: 24px;
$border-radius: 8px;
$gap: 20px;
$background-item-selected: colors.$green-100;
$border-width-default: 1px;
$border-width-selected: $border-width-default * 1.5;

.radio-button-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $item-padding;
  border-radius: $border-radius;
  gap: $gap;
  border: $border-width-default solid colors.$g-200;

  &--selected {
    border: $border-width-selected solid colors.$green-400;
    background-color: $background-item-selected;
  }

  &__content {
    padding-left: 24px;
  }
}
