*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ol,
ul,
dl,
dd,
blockquote,
pre,
figure,
legend,
mark,
caption {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

ul,
ol,
summary,
li {
  list-style: none;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
