@use "../../../assets/styles/colors";

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;

  &--green,
  &--white {
    &:focus-visible {
      outline: 1px solid colors.$orange-500;
      border-radius: 2px;
    }

    &:disabled {
      cursor: default;
    }
  }

  &--green {
    fill: colors.$green-500;

    &:hover,
    &:focus-visible {
      fill: colors.$green-400;
    }

    &:active {
      fill: colors.$green-700;
    }

    &:disabled {
      fill: colors.$g-600;
    }
  }

  &--white {
    fill: colors.$g-100;

    &:hover,
    &:focus-visible {
      fill: colors.$g-50;
    }

    &:active {
      fill: colors.$g-100;
    }

    &:disabled {
      fill: colors.$g-600;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
