<div class="gift-idea">
  <div class="gift-idea__cell">
    <app-input
      appCharCounter
      [positionY]="y"
      class="form__input-control"
      [label]="wishLabel"
      [control]="wishControl()"
      [placeholder]="wishPlaceholder"
      [isRequiredField]="isWishInputRequired()"
      [maxLength]="wishMaxLength()"
    />
  </div>

  <div class="gift-idea__cell">
    <app-input
      class="form__input-control"
      [label]="linkLabel"
      [control]="linkControl()"
      [placeholder]="linkPlaceholder"
      [isRequiredField]="false"
    />

    <app-field-hint [control]="linkControl()" class="form__field-hint" />
  </div>
</div>
