@use "../../../assets/styles/colors";
@use "../../../assets/styles/extends" as *;

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: fit-content;
  padding: 10px 12px 12px;
  background-color: colors.$green-100;
  border: 1px solid colors.$green-400;
  border-radius: 8px;

  &__title {
    @extend %title-sm;
    position: relative;
    padding: 4px 0 4px 28px;
    color: colors.$g-900;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      pointer-events: none;
      background: center / contain no-repeat;
    }

    &--star::before {
      background-image: url("../../../assets/images/icons/info-card-icons-sprite.svg#star");
    }

    &--presents::before {
      background-image: url("../../../assets/images/icons/info-card-icons-sprite.svg#presents");
    }

    &--note::before {
      background-image: url("../../../assets/images/icons/info-card-icons-sprite.svg#note");
    }
  }

  &--white {
    gap: 8px;
    padding: 10px 16px 20px;
    background-color: colors.$g-50;
    border: none;

    .info-card__title::before {
      top: 4px;
      width: 36px;
      height: 36px;
      background-size: 36px;
    }

    .info-card__title {
      @extend %title-md;
      padding: 8px 14px 8px 44px;
    }

    .info-card__description {
      @extend %title-md;
    }
  }

  &__description {
    @extend %title-sm;
    color: colors.$g-700;
  }
}
