@use "../../assets/styles/extends";

.create-room-page {
  @extend %main-element;
  padding-top: 64px;
  padding-bottom: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;

    margin-left: auto;
    margin-right: auto;
  }
}
