@use "../../../assets/styles/colors";
@use "../../../assets/styles/extends" as *;

.personal-info-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 8px;
  padding: 24px;
  row-gap: 16px;
  border: 1px solid colors.$green-400;
  background:
    url("../../../assets/images/backgrounds/personal-info-background.svg")
      no-repeat right 12px top 16px / 56px 48px,
    colors.$green-100;

  &__field {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__label {
    @extend %label;
    color: colors.$g-700;
  }

  &__value {
    @extend %title-sm;
    color: colors.$g-900;
  }
}

.personal-info-title {
  color: colors.$g-950;
  margin-bottom: 16px;
  text-align: left;
}
