$g-50: #ffffff;
$g-100: #fafafa;
$g-200: #e0e0e0;
$g-300: #c5c5c5;
$g-400: #ababab;
$g-500: #909090;
$g-600: #767676;
$g-700: #5b5b5b;
$g-800: #414141;
$g-900: #262626;
$g-950: #0c0c0c;
$black: #000000;

$green-50: #fafffb;
$green-100: #f1f5f2;
$green-200: #d5e7d9;
$green-400: #76977e;
$green-500: #517459;
$green-700: #2c5134;
$green-900: #192d1e;

$red-100: #fbefef;
$red-200: #ebadad;
$red-300: #e08584;
$red-500: #cc3332;
$red-warning: #f10203;

$orange-500: #de7307;

$blue-200: #d4e9fd;

$bg-blue: linear-gradient(202deg, $g-100 13%, $blue-200 98%);

$transparent: transparent;
