@use 'abstracts/mixins' as *;
@use 'colors/color-matrix' as *;

:host {
  position: relative;
}

.input-sidebar {
  @include input-sidebar;
  right: 1px;
  width: 53px;
  border-radius: 0 6px 6px 0;
  border-left: 1px solid $input-sidebar-border-color;
}
