@use 'base/typography' as *;
@use 'abstracts/variables' as *;
@use 'colors/color-matrix' as *;

:host {
  &.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    pointer-events: auto;
  }

  &.popover-container {
    position: absolute;
    top: -4px;

    &--right {
      right: 0;
      transform: translate(0, -100%);
    }

    &--center {
      right: 50%;
      transform: translate(50%, -100%);
    }
  }
}

.message {
  $message: &;
  display: inline-flex;
  align-items: center;
  background-color: $message-bg;
  box-shadow: $shadow-message;
  border-radius: 8px;
  background-color: $message-bg;
  text-wrap: nowrap;

  &--toaster {
    gap: 12px;
    padding: 18px 24px;
    font-size: $text-md;

    #{$message}__icon {
      width: 20px;
      height: 20px;
    }
  }

  &--popover {
    gap: 8px;
    padding: 9px 12px;
    font-size: 14px;

    #{$message}__icon {
      width: 14px;
      height: 14px;
    }
  }
}
